* {
	background: transparent;
	border: 0;
	box-sizing: content-box;
	-moz-box-sizing: content-box;
	-ms-box-sizing: content-box;
	color: inherit;
	cursor: inherit;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: normal;
	margin: 0;
	outline: 0;
	padding: 0;
	text-decoration: none;
	text-indent: 0;
	vertical-align: baseline;
}
:focus {
	outline: 0;
}
html,
body {
	cursor:default;
	font-style: normal;
	text-align: center;
	line-height: 1;
}
ol,
ul {
	list-style: none;
}
q,
blockquote {
	quotes: none;
}
q:after,
q:before,
blockquote:after,
blockquote:before {
	content: '';
	content: none;
}
small {
	font-size: 80%;
}
big {
	font-size: 120%;
}
i,
i * {
	font-style: italic;
}
b,
b * {
	font-weight: bold;
}
hr {
	height: 0;
	visibility: hidden;
}
del,
del * {
	text-decoration: line-through;
}
img {
	cursor: default;
}
input,
textarea {
	cursor: text;
}
a,
a *,
label,
button,
button *,
input[type=radio],
input[type=checkbox],
input[type=submit],
input[type=button],
input[type=image] {
	cursor: pointer;
}
input[type=text],
input[type=password] {
	cursor: text;
}
button::-moz-focus-inner { 
	border: 0;
	padding: 0;
}
hr, br {
	clear: both;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
td, th {
	vertical-align: top;
}